<!DOCTYPE html>
<head>

    <title> sportopdracht</title>
    <link rel="stylesheet" type="text/css" href="sport.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kostya">

    




</head>

<body>
        <div class="navigation">
            <button id="close-navigation">&lt;</button>
            <button class="redirect" onclick="location.href = 'sport_main.html';">Menu</button>
            <button class="redirect" onclick="location.href = 'over_ons.html';">over ons</button>
            <button class="redirect" onclick="location.href = 'sport (1).html';" style="background-color: antiquewhite;">waarom is sporten belangrijk</button>
            

            
            <div class="bottom-text" style="color:beige; top: 57%; position: relative; font-size: 22vw;">
                hiiii

            </div>


            <script src="scripts/navigation-bahaviour.js">

            </script>




        </div>

        <div class="pop-up">
            <div class="bar"> 
                <button id="close-pop-up">x</button>
                <script src="scripts/pop-up.js">
                    
                </script>
            </div>
            <form>

            <input type="text" placeholder="naam">
                
            <input type="email" placeholder="something@gmail.com">
            
            <input type="tel" placeholder="+31 6 55555555">

            <input type="submit">
            

            </form>
        </div>


    <div class="container">
        <header class="header">
            Positieve effecten van sporten
        </header>


        <div class="leftside_container">
            <div class="images">
            <p><img src="afbeeldingen/rennen.jpg"  width="115%"></p>
            
            <img src="afbeeldingen/american_footbal.jpg"  width="115%">
            
            <p><img src="afbeeldingen/Banner Football.jpg"  width="115%"></p>
            
            <img src="afbeeldingen/basketbal.jpg" width="115%">
            
            <p><img src="afbeeldingen/check.jpg" alt="hi!" width="115%"></p>
            
            <div style="text-align: center; background-image: url(afbeeldingen/moroccan-flower.png); width: 115%;">
                Onze vereniging vindt daarom dat sporten belangrijk voor je is. Wil je een sport kiezen bij ons?
                <p><button style="border-radius: 15%; background-color: aliceblue; color: red; font-size: 28px;" id="open-pop-up"> Meld je aan!</button></p>
                <script type="text/javascript">
                    document.getElementById("open-pop-up").onclick = function(){
                    const pop_up = document.getElementsByClassName("pop-up");
                    pop_up[0].style.display="block";
                    
                    }
                </script>
            </div>
        </div>

            <div class="article">
                <h2>Positieve effecten van sporten</h2>
                <h3>Goed voor hart en bloedvaten</h3>
                <p>Een half uur bewegen per dag houdt hart en bloedvaten in conditie en verlaagt de bloeddruk. Door actief bezig te zijn verhoogt de high densitylipoproteïne (HDL), dat is het goede cholesterol, en vermindert de ongezonde triglyceriden (dat is het slechte cholesterol). Dit is goed voor je bloedvaten.
                </p>
                <h3>Goed voor soepele gewrichten en sterke botten</h3>
                <p>Artrose (gewrichtsslijtage) en osteoporose (botontkalking), zijn de meest voorkomende ziektes van ons bewegingsapparaat naarmate we ouder worden. Door verstandig te bewegen is het mogelijk om veel ellende te voorkomen. Gewrichten blijven namelijk het langst gezond als ze bewegen (ook bij beginnende artrose).
                </p>
                <p>Ook osteoporose kun je tegen gaan door te bewegen. Want wanneer je een bot belast dan wordt het ter plaatse verstevigd. Wanneer de spieren en pezen rond de gewrichten sterk zijn, dan worden de gewrichten stabieler en minder belast.
                </p>
                <h3>Helpt overtollig gewicht verliezen en gewicht op peil te houden</h3>
                <p>Genoeg bewegen kan je helpen bij het verliezen van gewicht en om je gewicht vervolgens op peil te houden. Wanneer je meer calorieën verbrand dan de calorieën die je tot je neemt dan zal dat er voor zorgen dat je gewicht verliest.
                </p>
                <p>Door te sporten verhoog je je metabolisme (je stofwisseling), en het vergroot je spiermassa waardoor je ook weer meer vet verbrand.
                </p>
                <h3>Goed voor je rug</h3>
                <p>Lage rugklachten komen zeer regelmatig voor (80% van de Nederlanders heeft ooit last van lage rugklachten). Bewegen kan een rol spelen in het verbeteren van de kracht van spieren die de wervelkolom ondersteunen. Maar ook wanneer je al last hebt van rugklachten is bewegen belangrijk. Sporten die hier bij uitstek geschikt voor zijn zijn; yoga, pilates, zwemmen en aqua aerobics. Dit zijn namelijk sporten waarbij de gewrichten geen zware schokken moeten opvangen. Voetbal en hockey zijn daardoor minder geschikt.
                </p>
                <h3>Vermindert stress</h3>
                <p>Door te sporten wordt het stresshormoon cortisol sneller afgebroken en zorgt je lichaam ervoor dat het hormoon endorfine vrij komt. Je lichaam zal zich hierdoor beter voelen en je humeur krijgt er een heerlijke positieve boost van. Daarnaast leiden lichamelijke activiteiten je gedachten af van je problemen en komen je continue malende gedachten even tot rust. Het blijkt dat lichamelijke activiteit kan worden gekoppeld aan een verlaagde fysiologische reactie ten opzichte van stress. Met andere woorden; door te sporten word je minder vatbaar voor stress.
                </p>
                <h3>Gunstig effect op diabetes</h3>
                <p>Voor mensen met diabetes geeft sporten ook veel voordelen. Bij de meeste mensen zal de gevoeligheid voor insuline beter worden waardoor koolhydraten makkelijker worden opgenomen. De bloedglucosespiegel daalt na het sporten direct. Regelmatig sporten heeft dus bij de meeste mensen een blijvend positief effect op de bloedglucosewaardes.
                </p>
                <h3>Conclusie</h3>
                <p>Door te sporten werkt alles beter, je voelt je vol energie, je spijsvertering werkt efficiënter, je hersenen krijgen meer zuurstof, het schenkt je weerstandsvermogen tegen ziektes en helpt je zo lang mogelijk gezond te blijven. Dus begin vandaag nog met sporten.
                </p>
            </div>
    </div>
            
        


</div>
</body>