<!--
<!DOCTYPE html>
<html>
<head>
    <title>menu</title>
    <meta name="author" content="Kostya">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sport.css')}}">
</head>

<body>



    <div class="navigation">
        <button id="close-navigation">&lt;</button>
        <button class="redirect" onclick="location.href = '/';" style= "background-color: antiquewhite;">Menu</button>
        <button class="redirect" onclick="location.href = '/over_ons';">over ons</button>
        <button class="redirect" onclick="location.href = '/waarom_is_sporten belangrijk';">waarom is sporten belangrijk</button>
        <script src="{{url_for ('static' ,filename = 'scripts/navigation-bahaviour.js')}}"></script>



    </div>
    -->
    {% include "sidebuttons.html"%}
<div class="container" style="display: flex; flex-direction: column;">
    <header class="header">
        <a href="/"> <img src="{{url_for('static', filename='afbeeldingen/Logo SPORTIVA 3.png')}}" alt="NO IMAGE" style="width: 12%;" class="home_logo"></a>
        Over Sportiva
    </header>

    
        <div class="article" style="margin-top: 10%; margin-left: 12%; display: flex; flex-direction: column; ;">
        <h1>De Geboorte van Sportiva</h1>
        <p>In het jaar 1950, te midden van een bruisende stad, werd Sportiva geboren. Een groep enthousiaste sportliefhebbers, verenigd door hun passie voor competitie en camaraderie, richtte deze sportvereniging op. De oprichters waren afkomstig uit diverse achtergronden, maar één ding verenigde hen: de liefde voor sport. Ze begonnen met bescheiden doelen, maar hun vastberadenheid zou de vereniging vormgeven.</p>
        <div style="text-align: center;">
            <img src="{{url_for('static', filename='afbeeldingen/oprichters.jpg')}}" style="width: 20%;" alt="Oprichters">
            <h5>Dat zijn de oprichters van onze vereniging Jan de Boer (linkerkant) en John Jansen (rechterkant)</h5>
        </div>
        <p>In de eerste jaren was Sportiva een bescheiden club, met een handvol leden die voetbal als hun primaire activiteit kozen. De pioniersgeest was echter sterk, en al snel werden andere sporten zoals tennis, basketbal en atletiek geïntroduceerd. De vereniging groeide gestaag en begon lokale toernooien te organiseren.</p>

        <h2>Sportiva's Bloei</h2>
        <p>De jaren '70 markeerden een keerpunt voor Sportiva. Met een groeiend ledenbestand en een bloeiend clubhuis werd de vereniging een centrum voor sportieve activiteiten in de gemeenschap. Lokale jeugdprogramma's werden gelanceerd, en Sportiva werd een plek waar generaties samenkwamen om hun liefde voor sport te delen.</p>

        <h2>Gloriedagen op het Veld</h2>
        <p>In de jaren '80 en '90 bereikte Sportiva hoogtepunten op verschillende sportvelden. Het voetbalteam behaalde kampioenschappen, de tennisbanen waren altijd gevuld en de atletiekafdeling bloeide. De trofeeënkast van Sportiva werd gevuld met bewijzen van vastberadenheid, teamwork en toewijding.</p>

        <h2>Tegenslagen en Herrijzenis</h2>
        <p>Maar zoals bij elke organisatie waren er ook moeilijke tijden. Financiële uitdagingen en interne strubbelingen zorgden voor een neerwaartse spiraal. Toch weerstond Sportiva de storm en vond kracht in haar gemeenschap. Met herstructureringen en hernieuwde inzet kwam de vereniging sterker terug dan ooit tevoren.</p>

        <h2>Sportiva in de 21e Eeuw</h2>
        <p>In de 21e eeuw groeide Sportiva uit tot een moderne sportvereniging. Het omarmde technologie voor training, organiseerde internationale toernooien en breidde zijn faciliteiten uit. Sportiva bleef niet alleen een plek voor sportbeoefening, maar ook een hub voor sociale activiteiten en maatschappelijke betrokkenheid.</p>

        <h2>Erfenis en Toekomst</h2>
        <p>Vandaag de dag draagt Sportiva trots zijn rijke geschiedenis met zich mee. De vereniging heeft een erfenis van teamwork, doorzettingsvermogen en gemeenschapszin. De toekomst ziet er veelbelovend uit, met plannen voor verdere uitbreiding, jeugdontwikkeling en een voortdurende toewijding aan het bevorderen van sport in de samenleving.</p>
        <p>Sportiva blijft niet alleen een plek voor sport, maar ook een thuis voor vriendschappen, gezondheid en de onuitputtelijke geest van competitie die de gemeenschap samenbrengt.</p>
    </div>
            
            
    
            
            
        
        
        
        
        
    


    <div class="article" style="margin-top: 5%; margin-left: 12%;">


        <div style="width: 90%;">
            <div class = "sub-article" style=" background-color: #d69970; width: 90%; margin: 5%; font-size: 2.5vw;"> 
                <h2>Comentaar van onze lidden:</h2> 
        
        
            </div>
        </div>


        <div style="height: auto; display:inline-block">
        
            <div class="sub-article" style="margin: 5%;">
                "Als lid van deze geweldige sportvereniging heb ik ontdekt dat sporten meer is dan alleen fysieke activiteit;
                het is een reis naar zelfontdekking. Hier vond ik mijn passie, mijn team en mijn plek in de sportwereld.
                 Laat ons je helpen de sport te vinden die bij jou past, zodat ook jij kunt ervaren wat sport echt betekent."
                <p>- Sport de Vries</p>

            </div>
            <img src="{{url_for('static', filename ='afbeeldingen/de_vries.jpg') }}" alt="no image" style="width: 35%; margin-top: 15.5%;">
        </div>
    

    <div style="height: auto; display:inline-block">
        <img src="{{ url_for('static', filename='afbeeldingen/Laura van Dijk.jpg')}}" alt="no image" style= "width:35%; margin-top: 15.5%; padding-left:2%">
        <div class="sub-article" style="margin: 5%; float:right">
            "Sportiva is voor mij meer dan een vereniging; het is een tweede thuis. De sfeer van teamgeest en vriendschap is ongeëvenaard. Ik ben dankbaar voor de kansen om te groeien als atleet en om betekenisvolle relaties op te bouwen. Samen streven we naar succes op en naast het veld!"
        <p>-Laura van Dijk</p>
        </div>
    
    
    <div style="height: auto;  display:inline-block" >
        <div class="sub-article" style="margin: 5%;">
            "Als liefhebber van verschillende sporten vond ik bij Sportiva de diversiteit die ik zocht. Het is een plek waar verschillende achtergronden samenkomen voor één passie: sport. Ik ben trots deel uit te maken van deze gemeenschap die niet alleen focust op prestaties, maar ook op inclusie en respect."
            <p>- Mohammed Ali Khan</p>

        </div>
        <img src="{{url_for('static', filename ='afbeeldingen/Mohammed Ali Khan.jpg') }}" alt="no image" style="width: 35%; margin-top: 15.5%;">
    </div>

    <div style="height: auto; display:inline-block">
        <img src="{{ url_for('static', filename='afbeeldingen/Emma Hendriks.jpg')}}" alt="no image" style= "width:35%; margin-top: 15.5%; padding-left:2%">
        <div class="sub-article" style="margin: 5%; float:right">
            "De jeugdontwikkelings- programma's van Sportiva hebben een enorme impact gehad op mijn leven en dat van mijn kinderen. Mijn zoon heeft hier zijn liefde voor voetbal ontdekt, en mijn dochter heeft zich ontwikkeld als een veelbelovende tennisser. Het is fantastisch om te zien hoe de vereniging bijdraagt aan de groei van de jeugd."
        <p>-Emma Hendriks</p>
        </div>
    
    
    

        
    
    </div>

    </div>









</div>
</div>






</body>






</html>
